In [14]:
import pandas as pd
import numpy as np
import networkx as nx
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
# read matachinfo
df = pd.read_csv("C:/Users/alienware/Desktop/658project/matchinfo.csv")
df.head()

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupport,redSupportChamp,Address
0,NALCS,2015,Spring,Season,TSM,1,0,C9,40,Dyrus,...,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,LemonNation,Thresh,http://matchhistory.na.leagueoflegends.com/en/...
1,NALCS,2015,Spring,Season,CST,0,1,DIG,38,Cris,...,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,KiWiKiD,Annie,http://matchhistory.na.leagueoflegends.com/en/...
2,NALCS,2015,Spring,Season,WFX,1,0,GV,40,Flaresz,...,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,BunnyFuFuu,Janna,http://matchhistory.na.leagueoflegends.com/en/...
3,NALCS,2015,Spring,Season,TIP,0,1,TL,41,Rhux,...,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Xpecial,Janna,http://matchhistory.na.leagueoflegends.com/en/...
4,NALCS,2015,Spring,Season,CLG,1,0,T8,35,Benny,...,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Dodo8,Annie,http://matchhistory.na.leagueoflegends.com/en/...

In [33]:
# getting 2017
df_year = df.set_index('Year')
df_year_1 = df_year.loc[2017]
df_year_1.head()

,League,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,blueTopChamp,...,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupport,redSupportChamp,Address
Year,,,,,,,,,,,,,,,,,,,,,
2017,NALCS,Spring,Season,TSM,0,1,C9,41,Hauntzer,Maokai,...,Shen,Contractz,Khazix,Jensen,Fizz,Sneaky,Ashe,Smoothie,MissFortune,http://matchhistory.na.leagueoflegends.com/en/...
2017,NALCS,Spring,Season,C9,1,0,TSM,37,Impact,Nautilus,...,Trundle,Svenskeren,RekSai,Bjergsen,Katarina,WildTurtle,Ashe,Biofrost,Malzahar,http://matchhistory.na.leagueoflegends.com/en/...
2017,NALCS,Spring,Season,FOX,0,1,P1,39,Looper,Nautilus,...,Maokai,Inori,Rengar,Ryu,Lissandra,Arrow,Varus,Adrian,Nami,http://matchhistory.na.leagueoflegends.com/en/...
2017,NALCS,Spring,Season,P1,1,0,FOX,25,zig,Maokai,...,Singed,Akaadian,RekSai,Froggen,Anivia,Keith,Ashe,Gate,Thresh,http://matchhistory.na.leagueoflegends.com/en/...
2017,NALCS,Spring,Season,CLG,0,1,TL,35,Darshan,Nautilus,...,Maokai,Reignover,Khazix,Goldenglue,Cassiopeia,Piglet,Ashe,Matt,Lulu,http://matchhistory.na.leagueoflegends.com/en/...

In [34]:
# getting teams info for winning team to losing team and gamelength
df_bResult = df_year_1.set_index('bResult')
df_b_win = df_bResult.loc[1]
df_b_win_team = df_b_win[['blueTeamTag','redTeamTag','gamelength']]
df_b_win_team.head()

        blueTeamTag redTeamTag  gamelength
bResult
1                C9        TSM          37
1                P1        FOX          25
1                TL        CLG          44
1               FLY         NV          37
1               FOX        IMT          49

In [5]:
df_b_win_team.to_csv("df_win_to_lose_1.csv")

In [35]:
df_b_win_team

        blueTeamTag redTeamTag  gamelength
bResult
1                C9        TSM          37
1                P1        FOX          25
1                TL        CLG          44
1               FLY         NV          37
1               FOX        IMT          49
1               IMT        FOX          44
1               DIG         P1          39
1                P1        DIG          53
1               DIG         P1          37
1               TSM        IMT          53
1               IMT        TSM          51
1               TSM        IMT          39
1               CLG         NV          52
1                TL        FLY          45
1               FLY         TL          36
1               FLY        CLG          43
1               TSM        DIG          30
1                C9        IMT          40
1                P1         NV          42
1               TSM         TL          42
1                TL        TSM          43
1               TSM         TL          46
1               DIG        FOX          31
1               FOX        DIG          50
1                P1         TL          32
1               FOX        FLY          30
1               FLY        FOX          31
1               FOX        FLY          41
1                NV        IMT          39
1               IMT         NV          34
...             ...        ...         ...
1               MFA         OG          46
1               GIA         OG          41
1               MFA        FNA          45
1               FNA        MFA          32
1               FNA        GIA          41
1               FNA        GIA          45
1               FNA        GIA          35
1               SBK        ESC          67
1               KDM        CJE          41
1               CJE        SBK          50
1               KDM        ESC          33
1               ESC        CJE          72
1               ESC        CJE          39
1               CJE        KDM          31
1               KDM        CJE          46
1               EEW        CJE          29
1               JAG        KDM          27
1               EEW        KDM          42
1               KDM        EEW          44
1                XG        WOR          40
1                XG        WOR          43
1                TM         NH          44
1                NH         TM          33
1                TM         NH          33
1                RG         XG          48
1                RG         XG          34
1                WS         TY          30
1                TY         XG          23
1                WS         RG          28
1                RG         WS          33

[1832 rows x 3 columns]